.prayer-card {
    border-radius: 10px;
    text-align: center;
}

.thanksgiving {
    background-color: aquamarine;
}

.request {
    background-color: powderblue;
}

.verse {
    background-color: rgb(207, 223, 228);
    margin-left: 12px;
    width: 28vw;
    padding: 10px;
}

.prayer-board {
    margin-left: 34vw;
    width: 30vw;
}

.thanks-board {
    margin-left: 68vw;
    width: 30vw;
}

.sidebar {
    position: fixed;
    width: 30vw;
    margin-left: 10px;
    background-color: lightblue;
    height: 100%;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.hide-details {
    display: none;
}