<div class="submit-form">
    <p>How can we be praying for you?</p>
    <input type="text" class="prayer-box">
    <br><br>
    <div class="radio-choice">
        <p>What kind of request is it?</p>
        <label>Prayer Request
            <input type="radio" name="type" value="request">
        </label>
        <br>
        <label>Thanksgiving  
            <input type="radio" name="type" value="thanks"> 
        </label>
        <br><br>
    </div>
    <div class="more-details">
        <p>Give more details if necessary</p>
        <textarea class="expand"></textarea>
        <br><br>
    </div>
        <button>Want to be contacted?</button>
        <br><br>
        <div class="contact-info">
            <label>Name:
                <input type="text">
            </label>
            <label>Email:
                <input type="text">
            </label>
            <label>Phone Number:
                <input type="text">
            </label>
        </div>
    
    <br>
    <input type="submit">
  </div>