<div class="submit-form">
    <span>
        <p>How can your church community be praying for you?</p>
        <label>Prayer Request
            <input type="radio" name="type" value="request">
        </label>
        <br>
        <label>Thanksgiving
            <input type="radio" name="type" value="thanks"> 
        </label>
    </span>
    <br><br>
    <label> 
      <input type="text">
    </label>
    <br><br>
    <textarea>Give more details if wanted</textarea>
    <br>
    <button>Want to be contacted?</button>
    <br><br>
    <div class="contact-info">
        <label>Name:
            <input type="text">
        </label>
        <label>Email:
            <input type="text">
        </label>
        <label>Phone Number:
            <input type="text">
        </label>
    </div>
    <br>
    <input type="submit">
  </div>