<div class="submit-form">
    <p>How can we be praying for you?</p>
    <input type="text" class="prayer-box" [(ngModel)]="prayer">
    <br><br>
    <div class="radio-choice">
        <p>Prayer Type</p>

        <!-- Material Design Radio Button -->
        <mat-radio-group aria-label="Select type of prayer" [(ngModel)]="prayerType">
            <mat-radio-button value="request">Prayer Request</mat-radio-button>
            <br>
            <mat-radio-button value="thanks">Thanksgiving</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="more-details">
        <p>Give more details if necessary</p>
        <textarea class="expand" [(ngModel)]="moreDetails"></textarea>
        <br><br>
    </div>
    <label>Want to be contacted?
        <button (click)="showContactQ()" [disabled]="hideContactButton">Yes</button>
        <button (click)="clickedNo()" [disabled]="hideContactButton">No</button>
        <br><br>
        <div [ngClass]="{'display-contact': hideContact}">
            <label>Name:
                <input type="text" [(ngModel)]="name">
            </label>
            <label>Email:
                <input type="text" [(ngModel)]="email">
            </label>
            <label>Phone Number:
                <input type="text" [(ngModel)]="phoneNum">
            </label>
        </div>
    </label>
    
    <br>
    <input type="submit" (click)=addCollection() [disabled]="!showButton">
  </div>